@model Event_Register 
<!-- TITLE -->
<div class="title-heading-outer-center pb-5 sm:pb-5 w-full">
    <h3 class="text-20 title-heading-anim ">
        Register<span class="highlight-span"> Form </span>
    </h3>
</div> 

<!-- FORM -->
@using (Html.BeginForm("Registration", "Events", FormMethod.Post, new
    {
        id = "frmeventregistration",
        enctype = "multipart/form-data",
        @class = "space-y-4 grid grid-cols-1 sm:grid-cols-2 gap-4"
    }))
    { 
    
     @Html.AntiForgeryToken()
     <div id="successMessage_eventregister" tabindex="-1"
        class="hidden mt-6 p-3 rounded-xl bg-green-50 border border-green-200 flex items-start gap-3 sm:col-span-2">
        @if(ViewBag.SuccessMessage != null && !string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
        { 
        <!-- Icon -->
        <div class="flex-shrink-0 w-6 h-6 flex items-center justify-center rounded-full bg-green-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
            </svg>
        </div>

        <!-- Text -->
        <div >
            <p class="text-sm! font-medium text-green-800">
                @Html.Raw(ViewBag.SuccessMessage)
            </p>
        </div>
        }                 

    </div> 
    <div  id="divvalidation"  class="sm:col-span-2">
        @Html.ValidationSummary(excludePropertyErrors: true, "", new { @class = "text-danger" })
    </div>
    <!-- Name -->
    <div>
        <label class="block text-sm font-medium mb-1">Full Name <span class="text-red-500">*</span></label>
        @Html.TextBoxFor(model => model.Full_name, new { id = "Full_name", @class = "w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary",
            @placeholder="Enter Name",  maxlength = "100" })
        @Html.ValidationMessageFor(model => model.Full_name) 
    </div>

    <!-- Contact -->
    <div>
        <label class="block text-sm font-medium mb-1">Contact Number <span class="text-red-500">*</span></label>
        @Html.TextBoxFor(model => model.Contact, new { id = "Contact", @class = "w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary",
            @placeholder="Enter Name",  maxlength = "100" })
        @Html.ValidationMessageFor(model => model.Contact)  
    </div>

    <!-- Email -->
    <div>
        <label class="block text-sm font-medium mb-1">Email ID <span class="text-red-500">*</span></label>
        @Html.TextBoxFor(model => model.Email_Id, new { id="Email" , @class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary",
                @placeholder = "Enter your email",  maxlength = "250"})
        @Html.ValidationMessageFor(model => model.Email_Id)   
    </div>

    <!-- Designation -->
    <div>
        <label class="block text-sm font-medium mb-1">Designation <span class="text-red-500">*</span></label>
        @Html.TextBoxFor(model => model.Designation, new { id="Designation" , @class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary",
                @placeholder = "Enter your designation",  maxlength = "250"})
        @Html.ValidationMessageFor(model => model.Designation)   
    </div>
    <div class="sm:col-span-2">
        <div class="input-field col s12 p-0 mr-3.75 flex flex-col sm:flex-row items-start sm:items-center gap-2">
            <div class="g-recaptcha" data-sitekey="@ViewBag.captchapublickey" ></div>
            <div class="text-[#716868] font-light italic dark-textwhite text-sm">
                (Cannot view the captcha? Please make sure Google <br />
                and its services are enabled on your system.)
            </div>
        </div>
    </div>


    <!-- Submit -->
    <div class="text-center sm:col-span-2">
        <button type="submit" id="submiteventregister" class="w-auto themeht-btn color-btn darkwhite-btn">
            Submit Request
        </button>
    </div>
     @Html.HiddenFor(model => model.Event_Id)
     <input type="hidden" id="strstatus_eventsregistration" name="strstatus_eventsregistration" value="@(ViewBag.SuccessMessage == null ? "false" :"true")" />
    <span class="btn-loader"></span>
 }

   <script src="https://www.google.com/recaptcha/api.js" async defer></script>  