@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<ContentCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}



<section class="relative section-spacing">
    <div class="left-float-vector floating-icon">
        <img src="/Assets/images/hexagon-vector-shape.svg" class="object-cover dark-grayscaleinvert" alt="">
    </div>
    <div class="container">
        <div
            class="feature-item flex flex-col lg:flex-row-reverse gap-3 sm:gap-10 md:gap-10 xl:gap-10 2xl:gap-14 items-center relative mb-15 sm:mb-30 lg:mb-30 last:mb-0 animate-viewport text-secondary-wrapper">

            <!-- Image -->
            <div
                class="w-full lg:w-3/5 flex flex-col lg:flex-row-reverse justify-between items-start gap-y-2 lg:gap-y-0 lg:gap-x-6 2xl:gap-x-10">
                <div class="rounded-2xl overflow-hidden relative z-1">
                    <img src="@Component.ComponentThumbnail" alt="@Component.ComponentThumbnailAltText"
                        class="w-full h-full object-cover rounded-2xl">
                </div>
            </div>

            <!-- Content -->
            <div class="w-full lg:w-2/5 lg:mt-0 2xl:mt-0 space-y-5">
                <div class="wrapper-title-outer">
                    <div
                        class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                        <h2 class="text-h2 title-heading-anim px-0">
                            @Html.Raw(Component.DisplayTitle.CleanParagraphTags())
                        </h2>
                    </div>
                </div>

                <div class="flex flex-col">
                    <p>
                        @Html.Raw(Component.Intro.CleanParagraphTags())
                    </p>
                </div>

                @if (!string.IsNullOrEmpty(Component.Url))
                {
                    <div class="text-start">
                        <a href="@Component.Url" class="themeht-btn color-btn">
                            @Component.Url_Text
                        </a>
                    </div>
                }

                <div class="text-primary-wrapper">
                    <p>
                        @Html.Raw(Component.Content.CleanParagraphTags())
                    </p>
                </div>

            </div>

        </div>
    </div>

</section>