@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<ContentCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}

<section class="section-pb journey-section relative specialistdiagnosticservices-section">
    <div class="section-wrapper">

        <!-- ── LEFT: Photo + floating Doctor card ── -->
        <div class="photo-block">
            <div class="photo-img-box">
                <img src="@Component.ComponentThumbnail" alt="@Component.ComponentThumbnailAltText" />
            </div>

            <div class="journey-photo-vector floating-icon"><img src="/Assets/images/common-images/hexagon-sm-white.svg"
                    alt="" class="object-cover" /></div>
        </div>

        <!-- ── RIGHT: Heading + 3 cards ── -->
        <div class="container">
            <div class="right-block-outer">
                <div class="wrapper-title-outer sm:max-w-[60vw] lg:max-w-[40vw] 2xl:max-w-[32vw] sm:m-auto">
                    <div class="wrapper-title title-heading-outer title-heading-outer-center pb-5 sm:pb-10">
                        <span class="uppercase text-sm font-medium dark-textwhite">Service Lines</span>
                        <h2 class="text-h2 title-heading-anim">
                            @Html.Raw(Component.DisplayTitle.CleanParagraphTags())
                        </h2>
                        <p>
                            @Html.Raw(Component.Intro.CleanParagraphTags())
                        </p>
                    </div>
                </div>

                <div class="outer-view">
                    <div class="journey-vector floating-icon"><img
                            src="/Assets/images/common-images/hexagon-sm-white.svg" alt="" class="object-cover" /></div>
                    <div class="journey-slider relative custom-arrow-slider sm:mt-5">

                        <div class="swiper journeySwiper">
                            <div class="swiper-wrapper">

                                @foreach (var item in Model
                                                                .Where(x => x.IsBlock == 1)
                                                                .OrderBy(x => x.Sequence))
                                {
                                    <div class="swiper-slide">
                                        <div class="journey-card">
                                            <div class="c-icon">
                                                <img src="@item.ThumbnailImage" alt="@item.ThumbnailAltText" />
                                            </div>
                                            <p class="c-label">@item.Title</p>
                                            <p class="c-sub">
                                                @Html.Raw(item.Intro.CleanParagraphTags())
                                            </p>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- Arrows -->
                        <div class="swiper-button-prev custom-arrow">
                            <img src="/Assets/images/common-images/left-arrow-swiper.svg" />
                        </div>
                        <div class="swiper-button-next custom-arrow">
                            <img src="/Assets/images/common-images/right-arrow-swiper.svg" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-vector-journey bg-vector-wrap"><img src="Assets/images/vector-bg-01.svg" alt="" /></div>
</section>