@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.TestsServicesModel

@{
    ViewData["Title"] = "Test and services";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

     <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Assets/css/swiper-custom.css" />
    <link rel="stylesheet" href="~/Assets/css/testsservices-style.css" />
}



<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">


        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">
                        @Html.Raw(Model.Content.BreadcrumPath)
                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[34vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading ">
                            @Html.Raw(Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-spacing intro-hexagon-section relative bg-light-primary">
    <div class="container">
        <div class="intro-hexagon-inner">
            <div class="flex justify-start items-center gap-8 sm:gap-15 lg:gap-25 flex-col sm:flex-row">
                <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%]">
                    <div
                        class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in">
                        <div class="bt_bb_image_content">
                            <img src="@Model.Content.Hmpg_thumbnail" alt="@Model.Content.Hmpg_thumbnail_alt_text">
                        </div>
                    </div>
                </div>

                <div class="sm:max-w-[50%] lg:max-w-[40%] 2xl:max-w-[40%] space-y-2 dark-textwhite">
                    <p>
                        @Html.Raw(Model.Content.Cont_intro.CleanParagraphTags())
                    </p>

                    @Html.Raw(Model.Content.Content.CleanParagraphTags())
                </div>
            </div>
        </div>
    </div>
</section>


@if (Model?.FindTest_List != null && Model.FindTest_List.Any())
{
    @await Html.PartialAsync("_findTest", Model.FindTest_List)
}

@if (Model?.Services_List != null && Model.Services_List.Any())
{
    @await Html.PartialAsync("_services", Model.Services_List)
}

@if (Model?.TestDirectory_List != null && Model.TestDirectory_List.Any())
{
    @await Html.PartialAsync("_testDirectory", Model.TestDirectory_List)
}

@if (Model?.ReferenceResources_List != null && Model.ReferenceResources_List.Any())
{
    @await Html.PartialAsync("_referenceResources", Model.ReferenceResources_List)
}


@if (Model?.DiagnosticRequest_List != null && Model.DiagnosticRequest_List.Any())
{
    @await Html.PartialAsync("_diagnosticRequest", Model.DiagnosticRequest_List)
}



@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/Assets/js/fy-select-script.js"></script>
    <script src="~/Assets/js/testsservices-script.js"></script>
    <script src="/scripts/TestDirectory/test_finder.js"></script>

}