
@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<ContentCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}



<section class="section-pb common-info-grid-section relative">
    <div class="container">
        <div class="common-slider-vector floating-icon"><img src="Assets/images/common-images/hexagon-sm-white.svg" alt="" class="object-cover"/></div>
        <div class="common-card-slider relative custom-arrow-slider">

            <div class="swiper commonSwiperslider">
                <div class="swiper-wrapper">

                    <!-- Slide 1 -->

                     @foreach (var item in Model
                                                                .Where(x => x.IsBlock == 1)
                                                                .OrderBy(x => x.Sequence))
                 {

                          if(item.Sequence != 2)
                          {
                            if(@item.Url.Contains("https"))
                            {<div class="swiper-slide">
                           <div class="common-block-card icon-transform-item">
                            <a href="@item.Url" class="stretched-link" target="_blank"></a>
                            <div class="c-icon icon-transform">
                                <img src="@item.Icon_Image" alt="" />
                            </div>
                            <p class="c-label">@item.Title</p>
                            <p class="c-sub">  @Html.Raw(item.Intro.CleanParagraphTags())</p>
                            <div class="arrow-circle">
                                <img src="/Assets/images/common-images/arrow-black.svg" alt="" />
                            </div>
                            </div>
                            </div>
                            }
                            else
                            { 
                                <div class="swiper-slide">
                           <div class="common-block-card icon-transform-item">
                            <a href="@item.Url" class="stretched-link"></a>
                            <div class="c-icon icon-transform">
                                <img src="@item.Icon_Image" alt="" />
                            </div>
                            <p class="c-label">@item.Title</p>
                            <p class="c-sub">  @Html.Raw(item.Intro.CleanParagraphTags())</p>
                            <div class="arrow-circle">
                                <img src="/Assets/images/common-images/arrow-black.svg" alt="" />
                            </div>
                            </div>
                            </div>}
                          
                        }
                        else if(item.Sequence == 2)
                          {

                           <div class="swiper-slide">
                           <div class="common-block-card icon-transform-item data-trigger" data-trigger="modal"
                                                data-target="#secondOpinionPopup">
                            <a href="@item.Url" class="stretched-link"></a>
                            <div class="c-icon icon-transform">
                                <img src="@item.Icon_Image" alt="" />
                            </div>
                            <p class="c-label">@item.Title</p>
                            <p class="c-sub">  @Html.Raw(item.Intro.CleanParagraphTags())</p>
                            <div class="arrow-circle">
                                <img src="/Assets/images/common-images/arrow-black.svg" alt="" />
                            </div>
                         </div>
                         </div>
                        
                    }


                    }
                    

               
                </div>
            </div>

            <!-- Arrows -->
            <div class="swiper-button-prev custom-arrow">
                <img src="/Assets/images/common-images/left-arrow-swiper.svg" />
            </div>
            <div class="swiper-button-next custom-arrow">
                <img src="/Assets/images/common-images/right-arrow-swiper.svg" />
            </div>

        </div>
    </div>
    <div class="bg-vector-journey bg-vector-wrap"><img src="/Assets/images/vector-bg-01.svg" alt=""  /></div>
</section>