



@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<ContentCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}




<section class="section-pb intro-hexagon-section relative bg-light-primary needhelp-section">
        <div class="container">
            <div class="intro-hexagon-inner">
                <div class="flex justify-start items-center gap-8 sm:gap-6 lg:gap-25 flex-col sm:flex-row needhelp-row">
                    <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%]">
                        <div class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in">
                            <div class="bt_bb_image_content">
                                <img src="@Component.ComponentThumbnail" alt="@Component.ComponentThumbnailAltText" />
                            </div>
                        </div>
                    </div>

                    <div class="sm:max-w-[50%] lg:max-w-[45%] 2xl:max-w-[45%] space-y-2 dark-textwhite">
                        <div class="wrapper-title-outer">
                                    <div class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper no-beforeafter">
                                        <h2 class="text-h2 title-heading-anim"> @Html.Raw(Component.Intro.CleanParagraphTags())
                                        </h2>
                                    </div>
                                </div>
                       
                       

                        <div class="flex flex-col lg:flex-row gap-3">
                            <a href="@Component.Url" class="themeht-btn color-btn">
                              @Component.Url_Text
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>