@model CMS_job_list
@{
    Layout = "~/Views/Shared/Manage/_Layout_Dashboard.cshtml";
    ViewData["Title"] = "Manage jobs";
    string returnUrl = Context.Request.Query["ReturnUrl"].ToString();
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Manage" asp-action="Drafts">Careers</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Manage Job
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="section content-main">
    <h2>Manage Jobs</h2>
    @using (Html.BeginForm("Drafts", "ManageJobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(excludePropertyErrors: true, "", new { @class = "text-danger" })
            <div class="col-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12">
                            <a asp-action="AddNew" class="btn btn-primary mb-3">Add New </a>    
                            </div>
                            <div class="col-md-6">
                            <!-- Title -->
                                <div class="form-group mb-3">
                                    <label for="searchquery" class="form-label">Enter keywords </label> 
                                    @Html.TextBoxFor(model => model.searchquery, new { @class = "form-control", placeholder = "Enter title" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="ddGeography" class="form-label">Status </label> 
                                    @Html.DropDownListFor(model => model.status,
                                    new List<SelectListItem>
                                    {   new SelectListItem { Text = "Active", Value = "2" },
                                            new SelectListItem { Text = "Deactivated", Value = "1" }, } , 
                                            new { id = "ddstatus", @class = "form-select" })
                                                        
                                </div>
                            </div>
                            <div class="col-12 col-md-12 text-center">
                                <input type="submit" class="btn btn-primary mb-3" value="Search" /> 
                            </div>
                        </div>
                        
                        @if( Model.joblists !=null && Model.joblists.Count >0)
                        {
                            <div class="row">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th> 
                                        <th>Role</th>
                                        <th>Experience</th>
                                        <th>Expiry date</th>
                                        <th>Created date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.joblists)
                                    {   
                                        <tr>
                                            <td><input type="checkbox" name="JobItems" value="@item.Encrypt_job_Id" /></td>
                                            <td>
                                            @Html.Raw(item.Role)
                                            </td>
                                            <td>  @Html.Raw(item.Experience)</td>
                                             
                                              <td>@(item.Expiry_date == null ? "" : item.Expiry_date?.ToString("dd-MMM-yyyy"))</td>
                                              <td>@item.Created_date?.ToString("dd-MMM-yyyy")</td>
                                              <td><a href="/ManageJobs/Edit/@item.Encrypt_job_Id">Edit</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                             @if(Model.objpaging != null)
                            { 
                                @await Html.PartialAsync("~/Views/Shared/Manage/_pagination.cshtml", Model.objpaging)   
                            }
                            </div>
                            if(Model.status == 2)
                            {
                            <div class="col-sm-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary me-1 mb-1" name="action" id="btnSave"
                                class="btn btn-primary" value="Deactivate">Deactivate</button>
                            </div>
                            }
                            if(Model.status == 1)
                            {
                            <div class="col-sm-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary me-1 mb-1" name="action" id="btnSave"
                                class="btn btn-primary" value="Activate">Re-activate</button>
                            </div>
                            }

                           
                        }
                        else
                        {
                            <p>No record found</p>
                        }
                        
                    </div>
                </div>
            </div>                
        </div>
    }
</section>

@section Scripts {
    <script src="~/Assets/scripts/CMS_paging.js" type="module"></script>
    @if (ViewBag.alert_message != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                alert("@ViewBag.alert_message"); 
            });
        </script>
    }
}
