@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.AboutModel
@{
    ViewData["Title"] = "About cop";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />


    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Assets/css/swiper-custom.css" />
    <link rel="stylesheet" href="~/Assets/css/aboutus-style.css" />
}


<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="@Model.Content.Masthead_image_Alt_text" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">

        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">
                        @Html.Raw(Model.Content.BreadcrumPath)
                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[35vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading ">
                            @Html.Raw(Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="relative">
    <div class="bg-light-primary inner-light-primary"></div>

    <section class="section-spacing intro-hexagon-section relative">
        <div class="container">
            <div class="intro-hexagon-inner">
                <div class="flex justify-start items-center gap-8 sm:gap-15 lg:gap-25 flex-col sm:flex-row">
                    <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%]">
                        <div
                            class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in">
                            <div class="bt_bb_image_content">
                                <img src="@Model.Content.Hmpg_thumbnail" alt="@Model.Content.Hmpg_thumbnail_alt_text">
                            </div>
                        </div>
                    </div>

                    <div class="sm:max-w-[50%] lg:max-w-[45%] 2xl:max-w-[45%] space-y-2 dark-textwhite">
                        @Html.Raw(Model.Content.Cont_intro)
                    </div>
                </div>
            </div>
        </div>
    </section>

    @foreach (var item in Model.BringingDiagnostic_List)
    {
        <div class="cop_bb_outer">
            <section class="relative cop_bb_section lg:h-screen">
                <div class="cop_bb_cell_inner">
                    <div class="cop_bb_row cop_bb_row_push_right">
                        <div class="cop_bb_row_holder flex flex-col lg:flex-row">

                            <div class="cop_bb_column cop_bb_details_right-inner">
                                <div class="hexagon-shape-left floating-icon"><img
                                        src="/Assets/images/hexagon-shape-white.svg" class="w-auto" alt=""></div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_middle-inner">
                                <div class="cop_bb_column_content text-secondary-wrapper">
                                    <div class="wrapper-title-outer">
                                        <div
                                            class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                                            <h2 class="text-h2 title-heading-anim">
                                                @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                                            </h2>
                                        </div>
                                    </div>

                                    <p>
                                        @Html.Raw(item.Intro.CleanParagraphTags())
                                    </p>

                                </div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_left-inner">
                                <div class="cop_bb_column_content_img">
                                    <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    }



    @if (Model?.COPWorks_List != null && Model.COPWorks_List.Any())
    {
        @await Html.PartialAsync(partialViewName: "_copWorks", Model.COPWorks_List)
    }



</div>


@foreach (var item in Model.TheVision_List)
{
    <section class="relative section-pb visionled-section">
        <div class="container">
            <div class="wrapper-title-outer">
                <div class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-10">
                    <h2 class="text-h2 title-heading-anim">
                        @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                    </h2>
                </div>
            </div>
            <div class="flex flex-col-reverse lg:flex-row items-start gap-10">
                <!-- LEFT CONTENT -->
                <div
                    class="relative bg-primary text-white py-20 lg:py-12 rounded-br-2xl rounded-tr-2xl w-full lg:w-[80%] 2xl:w-[75%] ledvision-outer">

                    <div class="inner-vision-wrapper">

                        <!-- small Quote Background -->
                        <div class="smallquote-wrap">
                            <img src="/Assets/images/quotes-small.svg" alt="" class="w-auto h-auto object-cover" />
                        </div><!-- Main Quote -->
                        <h3 class="text-h2 mb-6 text-white">
                            @Html.Raw(item.Intro.CleanParagraphTags())
                        </h3>

                        <div class="para-inner">
                            @Html.Raw(item.Content)
                        </div>

                    </div>


                    <!-- Big Quote -->
                    <div class="absolute bottom-0 right-5 lg:right-25">
                        <img src="/Assets/images/quotes-big.svg" alt="" class="w-full h-auto object-cover bigquote-wrap" />
                    </div>


                </div>

                <!-- RIGHT IMAGE -->
                <div class="w-full lg:w-[40%] 2xl:w-[35%] lg:absolute lg:right-0 lg:top-0 vision-right-image">
                    <div class="rounded-2xl overflow-hidden">
                        <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText"
                            class="w-full h-auto object-cover" />
                    </div>
                </div>

            </div>
        </div>
    </section>
}


@if (Model?.PartnersCollaborators_List != null && Model.PartnersCollaborators_List.Any())
{
    @await Html.PartialAsync("_partnersCollaborators", Model.PartnersCollaborators_List)
}


@foreach (var item in Model.RisingCancer_List)
{
    <section class="relative section-pb">
        <div class="container">
            <div
                class="feature-item flex flex-col lg:flex-row gap-6 sm:gap-10 md:gap-10 xl:gap-10 2xl:gap-14 items-start relative mb-15 sm:mb-30 lg:mb-30 last:mb-0 animate-viewport text-secondary-wrapper">

                <!-- Image -->
                <div
                    class="w-full lg:w-3/5 flex flex-col lg:flex-row justify-between items-start gap-y-2 lg:gap-y-0 lg:gap-x-6 2xl:gap-x-10">
                    <div class="rounded-2xl overflow-hidden relative z-1 w-full">
                        <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText"
                            class="w-full h-full object-cover rounded-2xl">
                    </div>
                </div>

                <!-- Content -->
                <div class="w-full lg:w-2/5 lg:mt-0 2xl:mt-0">
                    <div class="wrapper-title-outer">
                        <div
                            class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                            <h2 class="text-h2 title-heading-anim px-0">
                                @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                            </h2>
                        </div>
                    </div>

                    <div class="flex flex-col readmore-wrapper" data-collapsed="300" data-collapsed-mobile="380">

                        <div class="readmore-content relative">

                            @Html.Raw(item.Intro)

                            @Html.Raw(item.Content)

                        </div>




                        <button class="readmore-toggle mt-3 text-primary font-medium flex items-center gap-2">
                            <span>Read More</span>
                            <svg class="w-4 h-4 transition-transform duration-300" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.17l3.71-3.94a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>



                    </div>

                </div>

            </div>
        </div>
    </section>
}

@foreach (var item in Model.HaveQuery_List)
{
    <section class="relative havequery-section overflow-hidden flex justify-center -mb-5 sm:-mb-8">
        <div class="absolute overflow-hidden flex items-center justify-center h-full w-full havequery-section-bg">
            <img src="@item.Componentbackground" alt="@item.Title"
                class="inset-0 w-full h-full object-cover -z-1 dark-grayscaleinvert0" />
        </div>

        <div class="container">
            <div class="relative flex flex-col sm:flex-row items-center justify-between pt-15 pb-20 sm:pb-22 gap-4">
                <div class="text-white text-center sm:text-left">
                    <h2 class="text-h2 text-white mb-3">@item.Title</h2>
                    <p>@Html.Raw(item.Intro.CleanParagraphTags())</p>
                </div>

                @if (!string.IsNullOrWhiteSpace(item.Url))
                {
                    <a href="@item.Url" class="themeht-btn black-btn arrow-btn">
                        @item.Url_Text <img src="/Assets/images/common-images/btn-arrow-white.svg" alt="arrow icon">
                    </a>
                }

            </div>
        </div>

    </section>
}




@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/fy-select-script.js"></script>
    <script src="~/Assets/js/readmoreless-script.js"></script>
    <script src="~/Assets/js/aboutus-script.js"></script>
}