@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.AboutModel
@{
    ViewData["Title"] = "Partners Collaborators";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />


    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/partnerscollaborators-style.css" />
}



<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="@Model.Content.Masthead_image_Alt_text" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">


        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">
                        @Html.Raw(Model.Content.BreadcrumPath)
                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[35vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading">
                            @Html.Raw(
                            string.IsNullOrWhiteSpace(Model.Content.Cont_hmpg_intro)
                            ? Model.Content.ContTitle
                            : Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section-spacing relative overflow-hidden">
    <div class="partnerscollaborators-vector bg-vector-wrap"><img src="/Assets/images/vector-bg-01.svg" alt=""
            class="w-full" /></div>

    <div class="container">

        <!-- GRID -->
        <div id="partnersContainer"
            class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-6 gap-4 sm:gap-6 reveal-group">

            @foreach (var item in Model.PartnersCollaborators_List)
            {
                <div class="aspect-195/150 shrink-0 group reveal-item">
                    <div class="item-boxs flex items-center justify-center text-center px-3 sm:px-5 h-full w-full">
                        <h3 class="tex-base sm:text-lg font-semibold inline-block pb-1 relative ">
                            @item.Title
                        </h3>
                    </div>
                </div>
            }
        </div>


        @if (@Model.TotalCount > 10)
        {
            <div class="text-center mt-5 sm:mt-10">
                <a id="btnLoadmore" href="#" class="themeht-btn color-btn darkwhite-btn"> View More </a>
            </div>
        }



    </div>
</section>



@foreach (var item in Model.HaveQuery_List)
{
    <section class="relative havequery-section overflow-hidden flex justify-center -mb-5 sm:-mb-8">
        <div class="absolute overflow-hidden flex items-center justify-center w-full h-full -z-1 inset-0">
            <img src="@item.Componentbackground" alt="@item.Title"
                class="inset-0 w-full h-full object-cover -z-1 dark-grayscaleinvert0" />
        </div>

        <div class="container">
            <div class="relative flex flex-col sm:flex-row items-center justify-between pt-15 pb-20 sm:pb-22 gap-4">
                <div class="text-white text-center sm:text-left sm:max-w-2xl">
                    <h2 class="text-h2 text-white mb-3">@item.Title</h2>
                    @Html.Raw(item.Intro)
                </div>

                @if (!string.IsNullOrWhiteSpace(item.Url))
                {
                    <a href="@item.Url" class="themeht-btn black-btn arrow-btn">
                        @item.Url_Text <img src="/Assets/images/common-images/btn-arrow-white.svg" alt="arrow icon">
                    </a>
                }

            </div>
        </div>

    </section>
}


<input type="hidden" id="CurrentPage" value="1" />
<input type="hidden" id="PageSize" value="10" />
<input type="hidden" id="TotalCount" value="@Model.TotalCount" />
<input type="hidden" id="ContentId" value="@Model.Content.ContId" />



@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/scripts/About/PartnersCollaborators.js"></script>
}