@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<HomeCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}


<section class="section-pb academy-thought-leadership-section relative">
    <div class="container">
        <div class="wrapper-title-outer wrapper-title-outer-center">
            <div class="wrapper-title title-heading-outer title-heading-outer-center pb-5 sm:pb-10">
                <h2 class="text-h2 title-heading-anim">
                    @Html.Raw(Component.DisplayTitle.CleanParagraphTags())
                </h2>
            </div>
        </div>

        <div class="max-w-full mx-auto flex gap-5 mt-10 flex-col lg:flex-row reveal-group">

            <!-- LEFT COLUMN -->
            <div class="flex flex-col md:flex-row lg:flex-col gap-5 w-full lg:w-[40%]">

                <!-- Card 1 -->
                @foreach (var item in Model.Where(x => x.IsBlock == 1)
                                .OrderBy(x => x.Sequence))
                {
                    if (item.Sequence == 1)
                    {
                        <div
                            class="relative text-white rounded-2xl p-6 h-[240px] flex flex-col justify-start overflow-hidden atl-card atl-card-theme reveal-item w-full md:w-[50%] lg:w-full">
                            <img src="/Assets/images/homepage/atl-bg.svg" alt=""
                                class="absolute inset-0 w-full h-full object-cover rounded-2xl -z-1 dark-grayscaleinvert0" />

                            <div class="flex justify-between items-start">
                                <div class="relative">
                                    <img src="@item.Icon_Image" alt="@item.ThumbnailAltText"
                                        class="w-auto h-auto object-cover dark-grayscaleinvert0" />
                                    <div class="hexagon small-hexagon"></div>
                                </div>
                                <span class="badge-border-wrap">@item.Section_title</span>
                            </div>
                            <div class="mt-6">
                                <h3> @item.Title </h3>
                                <p class="atl-p"> @Html.Raw(item.Intro.CleanParagraphTags())</p>
                            </div>

                            <div class="absolute bottom-2 right-3"> <img src="/Assets/images/homepage/atl-hexagon.svg" alt=""
                                    class="object-cover" /></div>
                        </div>
                    }

                    if (item.Sequence == 2)
                    {
                        <div
                            class="relative text-white rounded-2xl p-6 h-[240px] flex flex-col justify-start overflow-hidden atl-card atl-card-theme reveal-item w-full md:w-[50%] lg:w-full">
                            <img src="/Assets/images/homepage/atl-bg.svg" alt=""
                                class="absolute inset-0 w-full h-full object-cover rounded-2xl -z-1 dark-grayscaleinvert0" />
                            <div class="flex justify-between items-start">
                                <div class="relative">
                                    <img src="@item.Icon_Image" alt="@item.ThumbnailAltText"
                                        class="w-auto h-auto object-cover dark-grayscaleinvert0" />
                                    <div class="hexagon small-hexagon"></div>
                                </div>
                                <span class="badge-border-wrap"> @item.Section_title </span>
                            </div>

                            <div class="mt-6">
                                <h3> @item.Title </h3>
                                <p class="atl-p"> @Html.Raw(item.Intro.CleanParagraphTags()) </p>
                            </div>

                            <div class="absolute bottom-2 right-3"> <img src="/Assets/images/homepage/atl-hexagon.svg" alt=""
                                    class="object-cover" /></div>
                        </div>
                    }
                }
            </div>
            <div class="w-full lg:w-[60%] gap-5 flex flex-col md:flex-row lg:flex-row">
                <!-- CENTER COLUMN -->

                @foreach (var item in Model.Where(x => x.IsBlock == 1)
                                .OrderBy(x => x.Sequence))
                {
                    if (item.Sequence == 3)
                    {
                        <div class="flex gap-5 flex-col atl-card atl-card-white reveal-item">
                            <div class="rounded-2xl overflow-hidden h-[308px] relative">
                                <img src="@item.ThumbnailImage" alt="@item.ThumbnailAltText"
                                    class="w-full h-full object-cover" />
                                <span class="absolute top-4 right-4 badge-wrap">
                                    @item.Section_title
                                </span>
                            </div>

                            <div
                                class="bg-white rounded-2xl p-5 shadow-[0_0_13.8px_0_rgba(19,19,19,0.20)] card-content-wrap dark-bgblack">
                                <h3>
                                    @item.Title
                                </h3>
                                <div>
                                    @Html.Raw(item.Intro.CleanParagraphTags())
                                </div>
                            </div>

                        </div>
                    }

                    if (item.Sequence == 4)
                    {
                        <div class="flex gap-5 flex-col lg:flex-col-reverse atl-card atl-card-white reveal-item">
                            <!-- Image Card -->
                            <div class="rounded-2xl overflow-hidden aspect-162/308 h-[308px] relative">
                                <img src="@item.ThumbnailImage" alt="@item.ThumbnailAltText"
                                    class="w-full h-full object-cover" />
                                <span class="absolute top-4 right-4 badge-wrap">
                                    @item.Section_title
                                </span>
                            </div>

                            <!-- Text Card -->
                            <div
                                class="bg-white rounded-2xl p-5 shadow-[0_0_13.8px_0_rgba(19,19,19,0.20)] card-content-wrap dark-bgblack">
                                <h3>@item.Title</h3>
                                <div>
                                    @Html.Raw(item.Intro.CleanParagraphTags())
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>

        </div>
    </div>
</section>