@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<HomeCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}

<section class="section-pb team-section relative">
    <div class="container">
        <div class="wrapper-title-outer wrapper-title-outer-center">
            <div class="wrapper-title title-heading-outer title-heading-outer-center pb-5 sm:pb-10">
                <h2 class="text-h2 title-heading-anim">
                    @Html.Raw(Component.DisplayTitle.CleanParagraphTags())
                </h2>
            </div>
        </div>

        <!-- Swiper -->
        <div class="team-slider relative custom-arrow-slider mt-5">
            <div class="swiper teamSwiper">

                <div class="swiper-wrapper">

                    @foreach (var item in Model
                                        .Where(x => x.IsBlock == 1)
                                        .OrderBy(x => x.Sequence))
                    {
                        <div class="swiper-slide">
                            <div
                                class="bg-white dark-bgblack rounded-2xl shadow-lg px-4 pt-6 pb-6 relative max-w-sm mx-auto drop-shadow-custom team-item-inner group curser-pointer data-trigger">
                                <div class="team-img-wrap rounded-lg overflow-hidden relative">
                                    <img src="@item.ThumbnailImage"
                                        class="rounded-lg w-full h-full object-cover block transition-transform duration-700 ease-out will-change-transform group-hover:scale-105"
                                        alt="@item.ThumbnailAltText">
                                </div>
                                <div class="team-info text-center flex flex-col gap-y-2 pt-4">
                                    <h3 class="font-semibold text-p team-name text-primary">@item.Title</h3>
                                    <p class="team-designation text-sm">
                                        @Html.Raw(item.Intro.CleanParagraphTags())</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Arrows -->
            <div class="swiper-button-prev custom-arrow">
                <img src="/Assets/images/common-images/left-arrow-swiper.svg" alt="prev">
            </div>
            <div class="swiper-button-next custom-arrow">
                <img src="/Assets/images/common-images/right-arrow-swiper.svg" alt="next">
            </div>

            <!-- Button -->
            <div class="text-center mt-4 sm:mt-8">
                <a href="@Component.Url" class="themeht-btn color-btn">
                    @Component.Url_Text
                </a>
            </div>
        </div>

    </div>
    <div class="tq-line-vector">
        <svg viewBox="0 0 1600 200" class="line-svg">
            <path id="linePath02" class="linePath"
                d="M1622.69 144.935C1554.29 136.911 1356.6 107.321 1210.29 48.1162C1159.38 27.5151 1150.64 8.39514 1096.14 1.56632C1002.98 -10.1083 809.246 77.186 721.854 111.525C550.817 178.732 258.93 237.94 -35.746 53.6113"
                fill="none" stroke="#DE392E" stroke-width="1.00225" />

            <circle class="dot dot1" r="6" cx="0" cy="0" fill="#DE392E"></circle>
            <circle class="dot dot2" r="6" cx="0" cy="0" fill="#DE392E"></circle>

        </svg>
    </div>
</section>