@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<HomeCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}

<section class="section-pb trust-quality-section relative">
    <div class="container">
        <div class="wrapper-title-outer wrapper-title-outer-center">
            <div class="wrapper-title title-heading-outer title-heading-outer-center pb-5 sm:pb-10">
                <h2 class="text-h2 title-heading-anim">
                    @Html.Raw(Component.DisplayTitle.CleanParagraphTags())
                </h2>
            </div>
        </div>


        <div class="mt-5 sm:mt-10">
            
            <div class="max-w-full mx-auto 
            sm:grid sm:grid-flow-col sm:auto-cols-fr 
            justify-center
            gap-8 sm:gap-8 sm:mx-auto sm:max-w-sm 
            reveal-group">

                @foreach (var item in Model.Where(x => x.IsBlock == 1)
                                .OrderBy(x => x.Sequence))
                {
                    if (item.Sequence == 1)
                    {
                        <!-- CARD 1 -->
                        <div class="trust-quality-outer">
                            <div class="relative rounded-2xl overflow-hidden px-6 py-8 tq-item reveal-item icon-transform-item">

                                <img src="@item.background_image" alt=""
                                    class="absolute inset-0 w-full h-full object-cover rounded-2xl dark-grayscaleinvert0" />

                                <div class="relative z-1 text-white flex items-center gap-4 tq-inner h-full">

                                    <div class="flex-1 tq-content nabl-logo-wrap">
                                        <div class="tq-content-in ">
                                            <img src="@item.Icon_Image" alt="@item.ThumbnailAltText"
                                                class="w-auto h-auto object-cover" />
                                        </div>
                                    </div>

                                </div>

                                <div class="nabl-text text-center mt-4">
                                    <p>@Html.Raw(item.Intro.CleanParagraphTags())</p>
                                </div>

                            </div>
                              
                        </div>
                    }


                    <!-- CARD 2 -->

                    if (item.Sequence == 2)
                    {
                        <div class="relative rounded-2xl overflow-hidden px-6 py-8 tq-item reveal-item icon-transform-item">

                            <img src="@item.background_image" alt=""
                                class="absolute inset-0 w-full h-full object-cover rounded-2xl dark-grayscaleinvert0" />

                            <div class="relative z-1 text-white flex flex-col items-start gap-4 tq-inner">
                                <!-- Icon -->
                                <div class="w-31 h-31 flex items-center justify-center tq-icon icon-transform">
                                    <img src="@item.Icon_Image" alt="@item.ThumbnailAltText">
                                </div>

                                <!-- Content -->
                                <div class="flex-1 pt-8 pb-5 tq-content">
                                    <div class="tq-content-in space-y-2">
                                        <h3 class="font-semibold text-20 text-white">@item.Title</h3>
                                        <p class="text-white mt-1"> @Html.Raw(item.Intro.CleanParagraphTags())</p>
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(item.Url))
                                    {
                                        <div>
                                            <a class="themeht-btn black-btn arrow-btn mt-4 data-trigger" data-trigger="modal"
                                                data-target="#dataPrivacySecurityPopup"> Learn More <img
                                                    src="/Assets/images/common-images/btn-arrow-white.svg" alt="arrow icon">
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                    <!-- CARD 3 -->
                    if (item.Sequence == 3)
                    {
                        <div class="relative rounded-2xl overflow-hidden px-6 py-8 tq-item reveal-item icon-transform-item">

                            <img src="@item.background_image"  alt=""
                                class="absolute inset-0 w-full h-full object-cover rounded-2xl dark-grayscaleinvert0" />


                            <div class="relative z-1 text-white flex flex-col items-start gap-4 tq-inner">
                                <!-- Icon -->
                                <div class="w-31 h-31 flex items-center justify-center tq-icon icon-transform">
                                    <img src="@item.Icon_Image" alt="@item.ThumbnailAltText">
                                </div>

                                <!-- Content -->
                                <div class="flex-1 pt-8 pb-5 tq-content">
                                    <div class="tq-content-in space-y-2">
                                        <h3 class="font-semibold text-20 text-white">@item.Title</h3>
                                        <p class="text-white mt-1"> @Html.Raw(item.Intro.CleanParagraphTags()) </p>
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(item.Url))
                                    {
                                        <div>
                                            <a class="themeht-btn black-btn arrow-btn mt-4 data-trigger" data-trigger="modal"
                                                data-target="#qualityAssuredPopup"> Learn More <img
                                                    src="/Assets/images/common-images/btn-arrow-white.svg" alt="arrow icon">
                                            </a>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    }

                }



            </div>
        </div>
    </div>
    <div class="tq-line-vector">
        <svg viewBox="0 0 1600 200" class="line-svg">
            <path id="linePath01" class="linePath"
                d="M1637.88 184.383C1569.82 174.56 1374.05 157.342 1227.73 91.8327C1172.9 67.2808 1160.21 47.2865 1108.79 16.2023C1021.1 -36.8102 828.57 57.7646 736.394 102.522C565.164 185.665 271.847 259.673 -24.2804 31.7733"
                fill="none" stroke="#DE392E" stroke-width="1.00225" />

            <circle class="dot dot1" r="6" cx="0" cy="0" fill="#DE392E"></circle>
            <circle class="dot dot2" r="6" cx="0" cy="0" fill="#DE392E"></circle>

        </svg>
    </div>

</section>