@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.HomePageModel
@{
    ViewData["Title"] = "Nekta";
    Layout = "~/Views/Shared/_Layout_home_page.cshtml";
}

@section head {
    <title>@Model.Home_Content.cont_window_title</title>

    <meta content="@Model.Home_Content.cont_metatag" name="keywords" />
    <meta content="@Model.Home_Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Home_Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Home_Content.cont_metadesc" />
    

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Nekta" />
    <meta property="og:title" content="@Model.Home_Content.ContTitle" />
    <meta property="og:description" content="@Model.Home_Content.cont_metadesc" />
    <meta property="og:url" content="https://www.nekta.com/" />
    <meta property="og:image" content="@Model.Home_Content.cont_meta_image" />

    <meta itemprop="name" content="Nekta" />
    <meta itemprop="description" content="@Model.Home_Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Home_Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Nekta" />
    <meta property="og:title" content="@Model.Home_Content.ContTitle" />
    <meta property="og:description" content="@Model.Home_Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Home_Content.cont_meta_image" />
    <meta property="og:url" content="https://www.nekta.com/" />

    <link rel="canonical" href="https://www.nekta.com/" />
}

@section Styles {

    <link rel="preload" href="~/Assets/css/swiper-bundle.min.css" as="style">
    <link rel="stylesheet" href="~/Assets/css/swiper-bundle.min.css" />

    <link rel="preload" href="~/Assets/css/homepage-style.css" as="style">
    <link rel="stylesheet" href="~/Assets/css/homepage-style.css" />

    <link rel="preload" href="~/Assets/css/swiper-custom.css" as="style">
    <link rel="stylesheet" href="~/Assets/css/swiper-custom.css" />
}

<div>Home</div>


<input id="hdncontent" type="hidden" value="@Model.Home_Content.ContId" />

@section Scripts {
    <script src="~/Assets/js/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/Assets/js/line-animation.js"></script>
    <script src="~/Assets/js/fy-select-script.js"></script>
    <script src="~/Assets/js/video-popup-script.js"></script>
    <script src="~/Assets/js/homepage-script.js"></script>
    <script src="/scripts/home/home.js"></script>
    <script src="/scripts/TestDirectory/test_finder.js"></script>
}