@using Core_project_BusinessLogic.Entity
@model List<BlockFieldDefinition>

@foreach (var field in Model)
{
    <div class="mb-3">

        <label class="form-label">@field.name</label>

        @switch (field.field_type_id)
        {
            case 1:
                <input name="@field.name_key"
                       class="form-control"
                       placeholder="@field.place_holder" />
                break;

            case 2:
                {
                    var options = new List<string>();

                    if (!string.IsNullOrWhiteSpace(field.field_options))
                    {
                        try
                        {
                            options = System.Text.Json.JsonSerializer
                            .Deserialize<List<string>>(field.field_options) ?? new();
                        }
                        catch { }
                    }

                    <select name="@field.name_key" class="form-control">
                        <option value="">-- Select --</option>

                        @foreach (var opt in options)
                        {
                            <option value="@opt">@opt</option>
                        }
                    </select>
                }
                break;

            case 7:
                <textarea name="@field.name_key"
                          class="form-control editor-full"></textarea>
                break;

            case 8:
                <div class="form-group">

                    <button type="button"
                            class="btn btn-outline-primary select-media"
                            data-bs-toggle="modal"
                            data-bs-target="#btnSelectFiles">
                        Select File
                    </button>

                    <input type="hidden" name="@($"{field.name_key}_existing")" />

                    @if (!string.IsNullOrEmpty(field.image_previewname))
                    {
                        <img src="@field.image_previewname"
                             class="imgPreview"
                             style="max-height:120px" />
                    }

                </div>
                break;
        }

    </div>
}