@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.ClinicalExpertiseModel
@{
    ViewData["Title"] = "Case consults";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />


    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/accordion-style.css" />
    <link rel="stylesheet" href="~/Assets/css/caseconsults-style.css" />
}



<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="@Model.Content.Masthead_image_Alt_text" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">


        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">
                        @Html.Raw(Model.Content.BreadcrumPath)
                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[35vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading ">
                            @Html.Raw(Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="relative">

    <div class="bg-wrapper-flat"></div>

    <section class="section-spacing intro-hexagon-section relative">
        <div class="container">
            <div class="intro-hexagon-inner">
                <div class="flex justify-start items-center gap-8 sm:gap-15 lg:gap-25 flex-col sm:flex-row">
                    <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%]">
                        <div
                            class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in">
                            <div class="bt_bb_image_content">
                                <img src="@Model.Content.Hmpg_thumbnail" alt="@Model.Content.Hmpg_thumbnail_alt_text">
                            </div>
                        </div>
                    </div>

                    <div class="sm:max-w-[50%] lg:max-w-[40%] 2xl:max-w-[40%] space-y-2 dark-textwhite">
                        <p>
                            @Html.Raw(Model.Content.Cont_intro.CleanParagraphTags())
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="cop_bb_outer">
        @foreach (var item in Model.ReviewCases_List)
        {
            <section class="relative cop_bb_section lg:h-screen">
                <div class="cop_bb_cell_inner">
                    <div class="cop_bb_row cop_bb_row_push_right">
                        <div class="cop_bb_row_holder flex flex-col lg:flex-row">

                            <div class="cop_bb_column cop_bb_details_right-inner">
                                <div class="hexagon-shape-left floating-icon"><img
                                        src="/Assets/images/hexagon-shape-white.svg" class="w-auto" alt=""></div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_middle-inner">
                                <div class="cop_bb_column_content text-secondary-wrapper">
                                    <div class="wrapper-title-outer">
                                        <div
                                            class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                                            <h2 class="text-h2 title-heading-anim">
                                                @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                                            </h2>
                                        </div>
                                    </div>
                                    <p>
                                        @Html.Raw(item.Intro.CleanParagraphTags())
                                    </p>
                                </div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_left-inner">
                                <div class="cop_bb_column_content_img">
                                    <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        }

        @foreach (var item in Model.RequestConsultation_List)
        {
            <section class="relative cop_bb_section lg:h-screen">
                <div class="cop_bb_cell_inner">
                    <div class="cop_bb_row cop_bb_row_push_left">
                        <div class="cop_bb_row_holder flex flex-col lg:flex-row">

                            <div class="cop_bb_column cop_bb_details_left-inner">
                                <div class="cop_bb_column_content_img">
                                    <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText">
                                </div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_middle-inner">
                                <div class="cop_bb_column_content text-secondary-wrapper">
                                    <div class="wrapper-title-outer">
                                        <div
                                            class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                                            <h2 class="text-h2 title-heading-anim">
                                                @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                                            </h2>
                                        </div>
                                    </div>
                                    <h3 class="text-20 font-semibold"> @Html.Raw(item.Intro.CleanParagraphTags()) </h3>
                                    @Html.Raw(item.Content)
                                </div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_right-inner">
                                <div class="hexagon-shape-right floating-icon"><img
                                        src="/Assets/images/hexagon-shape-white.svg" class="w-auto" alt=""></div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        }
        @foreach (var item in Model.FromConsultation_List)
        {
            <section class="relative cop_bb_section lg:h-screen">
                <div class="cop_bb_cell_inner">
                    <div class="cop_bb_row cop_bb_row_push_right">
                        <div class="cop_bb_row_holder flex flex-col lg:flex-row">

                            <div class="cop_bb_column cop_bb_details_right-inner">
                                <div class="hexagon-shape-left floating-icon"><img
                                        src="/Assets/images/hexagon-shape-white.svg" class="w-auto" alt=""></div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_middle-inner">
                                <div class="cop_bb_column_content text-secondary-wrapper">
                                    <div class="wrapper-title-outer">
                                        <div
                                            class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                                            <h2 class="text-h2 title-heading-anim">
                                                @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                                            </h2>
                                        </div>
                                    </div>
                                    <h3 class="text-20 font-semibold"> @Html.Raw(item.Intro.CleanParagraphTags()) </h3>
                                    @Html.Raw(item.Content)
                                </div>
                            </div>

                            <div class="cop_bb_column cop_bb_details_left-inner">
                                <div class="cop_bb_column_content_img">
                                    <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        }
    </div>

    @if (Model?.YourCase_List != null && Model.YourCase_List.Any())
    {
        @await Html.PartialAsync("_yourCase", Model.YourCase_List)
    }

</div>


@foreach (var item in Model.OncopathologyExperts_List)
{
    <section class="relative section-spacing">
        <div class="hexagon-left floating-icon">
            <img src="/Assets/images/hexagon-vector-shape.svg" class="w-auto" alt="">
        </div>
        <div class="container">
            <div
                class="feature-item flex flex-col lg:flex-row-reverse gap-6 sm:gap-10 md:gap-10 xl:gap-10 2xl:gap-14 items-center relative mb-15 sm:mb-30 lg:mb-30 last:mb-0 animate-viewport text-secondary-wrapper">

                <!-- Image -->
                <div
                    class="w-full lg:w-3/5 flex flex-col lg:flex-row-reverse justify-between items-start gap-y-2 lg:gap-y-0 lg:gap-x-6 2xl:gap-x-10">
                    <div class="rounded-2xl overflow-hidden relative z-1">
                        <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText"
                            class="w-full h-full object-cover rounded-2xl">
                    </div>
                </div>

                <!-- Content -->
                <div class="w-full lg:w-2/5 lg:mt-0 2xl:mt-0 relative">


                    <div class="wrapper-title-outer">
                        <div
                            class="wrapper-title title-heading-outer title-heading-outer-start pb-5 sm:pb-5 no-titlepadding-wrapper">
                            <h2 class="text-h2 title-heading-anim px-0">
                                @Html.Raw(item.DisplayTitle.CleanParagraphTags())
                            </h2>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <p>@Html.Raw(item.Intro.CleanParagraphTags())</p>
                    </div>

                    @if (!string.IsNullOrEmpty(item?.Url))
                    {
                        <div class="text-start mt-5 sm:mt-5">
                            <a href="@item.Url" class="themeht-btn color-btn darkwhite-btn">
                                @(string.IsNullOrEmpty(item?.Url_Text) ? "Click Here" : item.Url_Text)
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </section>
}

@foreach (var item in Model.RequestConsult_List)
{
    <section
        class="relative overflow-hidden section-spacing sm:min-h-[545px] flex justify-center items-center request-consult-section">
        <div class="absolute overflow-hidden flex items-center justify-center h-full bg-parallax">
            <img src="@item.Component_Background_image" alt="@item.Title"
                class="inset-0 w-full h-full sm:min-h-[545px] object-cover -z-1 dark-grayscaleinvert0" />
        </div>

        <div class="relative z-10 container">

            <div class="wrapper-title-outer text-white max-w-3xl mx-auto wrapper-title-outer-center">
                <div
                    class="wrapper-title title-heading-outer title-heading-outer-center pt-0 pb-5 sm:pb-10 no-padding-top filldark-title-heading-anim">
                    <h2 class="text-h2 title-heading-anim title-heading-anim-white ">
                        @item.Title
                    </h2>
                </div>

                <p> @Html.Raw(item.HmpgIntro.CleanParagraphTags()) </p>


                @if (!string.IsNullOrWhiteSpace(item?.Url))
                {
                    <div class="mb-5">
                        <a href="@item.Url" class="themeht-btn black-btn icon-btn">
                            @(string.IsNullOrWhiteSpace(item?.Url_Text) ? "Click Here" : item.Url_Text)
                        </a>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(item?.Intro))
                {
                    <p>@Html.Raw(item.Intro.CleanParagraphTags())</p>
                }

            </div>

        </div>
    </section>
}


@if (Model?.FAQ_List != null && Model.FAQ_List.Any())
{
    @await Html.PartialAsync("_faqs", Model.FAQ_List)
}




@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/Assets/js/accordion-script.js"></script>
    <script src="~/Assets/js/caseconsults-script.js"></script>
}