@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.PageViewModel
@{
    ViewData["Title"] = "Our Team";
}


@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}
@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/ourteam-style.css" />
}




<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">


        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">

                        @Html.Raw(Model.Content.BreadcrumPath)


                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[35vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading ">
                            @Html.Raw(Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-pt introwrapper-section relative" id="our-team">
    <div class="container">
        <div class="introwrapper-inner">
            <p>@Html.Raw(Model.Content.Cont_intro.CleanParagraphTags())</p>
        </div>
    </div>
</section>

<section class="section-pb ourteam-section relative pt-10 sm:pt-15 overflow-hidden">
    <div class="container">
        <div
            class="team-grid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-8 sm:gap-x-7.5 sm:gap-y-7.5 reveal-group">

            @foreach (var item in Model.Components
                        .Select(g =>
                        {
                            var dict = g.Fields
                            .GroupBy(x => x.FieldName)
                            .ToDictionary(x => x.Key, x => x.First());

                            return new
                            {
                                Group = g,
                                Dict = dict,
                                Sequence = dict.ContainsKey("Sequence")
                            ? int.TryParse(dict["Sequence"].FieldValue, out var seq) ? seq : int.MaxValue
                            : int.MaxValue
                            };
                        })
                        .OrderBy(x => x.Sequence))
            {
                var group = item.Group;
                var dict = item.Dict;

                var name = dict.ContainsKey("Title") ? dict["Title"].FieldValue : "";
                var designation = dict.ContainsKey("Intro") ? dict["Intro"].FieldValue : "";
                var image = group.Fields.FirstOrDefault(x => !string.IsNullOrEmpty(x.ImagePath))?.ImagePath;

                var modalId = name?.Replace(" ", "");

                <div class="bg-white dark-bgblack rounded-2xl shadow-lg px-3 sm:px-4 pt-6 pb-6 relative drop-shadow-custom team-item-inner group curser-pointer data-trigger team-item-box reveal-item ourteam-pop"
                    data-trigger="modal" data-id="@group.GroupId" data-target="#@modalId">

                    <div class="team-img-wrap rounded-lg overflow-hidden relative">
                        <img src="@image"
                            class="rounded-lg w-full h-full object-cover block transition-transform duration-700 ease-out group-hover:scale-105" />
                    </div>

                    <div class="team-info text-center flex flex-col gap-y-2 pt-4">
                        <h3 class="font-semibold text-p team-name text-primary">
                            @name
                        </h3>

                        <p class="team-designation text-sm">
                            @Html.Raw(designation.CleanParagraphTags())
                        </p>
                        <div class="outer-btn">
                            <div class="themeht-btn color-outline-btn arrow-btn"> View More <img
                                    src="/Assets/images/common-images/btn-arrow-red.svg" alt="arrow icon"> </div>
                        </div>

                    </div>

                </div>
            }

        </div>
    </div>

    <div class="bg-team-vector bg-vector-wrap"><img src="/Assets/images/ourteam-vector-bg.svg" alt="" /></div>

    <div class="tq-line-vector">
        <svg viewBox="0 0 1600 200" class="line-svg">
            <path id="linePath02" class="linePath"
                d="M1609.7 158.802C1672.53 -30.8498 1572.81 227.972 1436.75 231.919C1375.92 233.683 1341.49 210.656 1298.73 172.764C1260.67 139.044 1218.3 102.174 1173.56 78.0095C1052.61 12.6785 780.533 -83.7248 470.405 145.254C458.562 153.999 445.875 162.01 432.641 168.457C297.789 234.152 98.6833 328.006 -0.282471 7.02375"
                fill="none" stroke="#DE392E" stroke-width="1.00225" />

            <circle class="dot dot1" r="6" cx="0" cy="0" fill="#DE392E"></circle>
            <circle class="dot dot2" r="6" cx="0" cy="0" fill="#DE392E"></circle>

        </svg>
    </div>



</section>

<input id="hdncontent" type="hidden" value="@Model.Content.ContId" />

<div id="ourteam-popup"
    class="fixed inset-0 z-[1001] flex items-center justify-center px-4 py-6 sm:py-0 opacity-0 pointer-events-none modal-popup-wrapper">

    <div class="relative w-full max-w-5xl inener-container-modal">

        <!-- Close Button -->
        <button data-close
            class="absolute -top-2 -right-2 z-20 w-8 h-8 flex items-center justify-center rounded-full bg-white hover:bg-primary hover:text-white shadow data-close-modal transition-colors">
            ✕
        </button>

        <!-- Modal Card -->
        <div
            class="popup-wrapper-inner bg-white rounded-xl shadow-2xl overflow-hidden max-h-[85vh] sm:max-h-[70vh] overflow-y-auto p-6 dark-bgblack team-popup-wrapper-inner">

            <div class="flex flex-col sm:flex-row items-start" data-lenis-prevent>

                <!-- IMAGE -->
                <div class="sm:w-1/3 w-full">
                    <img id="teamImage" src="/Assets/images/homepage/team-dummy.svg"
                        class="w-full h-full object-cover rounded-2xl">
                </div>

                <!-- CONTENT -->
                <div class="sm:w-2/3 w-full sm:p-8 mt-4 sm:mt-0 popup-inner-contentright">
                    <div class="team-info-space mb-4">
                        <h3 class="text-20 text-primary font-bold mb-2" id="teamTitle">

                        </h3>

                        <p class="team-designation" id="teamIntro">

                        </p>
                        <p class="team-designation" id="teamPopupIntro"></p>
                    </div>
                    <div class="team-info-content" id="teamContent">


                    </div>

                </div>
            </div>

            <div id="DivCA" class="leadrship-accordion-wrapper" data-lenis-prevent>

                <div class="accordion-item">

                    <button
                        class="accordion-toggle w-full flex justify-between items-center px-5 py-3 text-left font-bold text-lg dark-textwhite">
                        <span>Credentials & Expertise</span>
                        <div class="icon-circle">
                            <span class="line horizontal"></span>
                            <span class="line vertical"></span>
                        </div>
                    </button>

                    <div class="accordion-content overflow-hidden max-h-0 transition-all duration-500 ease-in-out">

                        <div class="accordion-inner px-4 py-5" id="teamPopupContent">



                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/Assets/js/ourteam-script.js"></script>
    <script src="~/scripts/Ourteam/Ourteam.js"></script>
}