@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model MentorshipMomentsViewModel

@{
    var url = Model.Url?.ToLower();
    var videoType = "";
    var thumbnail = Model.BlockThumbnail;

    if (!string.IsNullOrWhiteSpace(url))
    {
        if (url.Contains("youtube.com") || url.Contains("youtu.be"))
        {
            videoType = "youtube";

            // 👉 fallback thumbnail from YouTube
            if (string.IsNullOrWhiteSpace(thumbnail))
            {
                thumbnail = YouTubeHelper.GetThumbnail(Model.Url);
            }
        }
        else if (url.EndsWith(".mp4"))
        {
            videoType = "mp4";
        }
    }

    if (string.IsNullOrWhiteSpace(thumbnail))
    {
        thumbnail = "/images/default-thumbnail.jpg";
    }
}

<!-- CARD -->
<div class="swiper-slide">
<div class="bg-white dark-bgblack rounded-2xl shadow-lg px-3 sm:px-4 pt-6 pb-6 relative drop-shadow-custom grid-item-inner group curser-pointer grid-item-box data-trigger"
    data-video-trigger data-video-type="@videoType" data-video-src="@Model.Url">
    <div class="grid-img-wrap rounded-lg overflow-hidden relative aspect-396/215">
        <img src="@thumbnail" alt="@Model.BlockThumbnailAlt"
            class="rounded-lg w-full h-full object-cover block transition-transform duration-700 ease-out will-change-transform group-hover:scale-105" />
        <!-- GRADIENT OVERLAY -->
        <div class="absolute inset-0 bg-linear-to-t from-black/60 via-black/20 to-transparent">
        </div>

        <div class="absolute inset-0 flex items-center justify-center">
            <div class="flex items-center justify-center transition group-hover:scale-110 play-icon-wrapper">
                <img src="/Assets/images/common-images/play-icon.svg" alt="" class="w-16 h-16 object-cover">
            </div>
        </div>

    </div>
    <div class="grid-info flex flex-col gap-y-2 pt-4">
        <h3 class="grid-heading">@Model.Title</h3>
        <p class="grid-para"> @Html.Raw(Model.Intro.CleanParagraphTags())</p>
    </div>
</div>
</div>