@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model AnitaBorgesViewModel

<section class="section-pt intro-hexagon-section relative">
    <div class="container">
        <div class="intro-hexagon-inner text-secondary-wrapper">
            <div class="flex justify-start items-center gap-8 flex-col sm:flex-row">
                <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%]">
                    <div
                        class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in">
                        <div class="bt_bb_image_content">
                            <img src="@Model.ThumbnailImage" alt="@Model.ThumbnailImageAlt"
                                title="@Model.ThumbnailImageAlt">
                        </div>
                    </div>
                </div>

                <div class="sm:max-w-[50%] lg:max-w-[45%] space-y-2">

                     <div class="wrapper-title-outer">
                                    <div class="wrapper-title title-heading-outer title-heading-outer-start no-titlepadding-wrapper no-beforeafter">
                                        <h2 class="text-h2 title-heading-anim">  @Model.Title
                                        </h2>
                                    </div>
                                </div>
                 

                    <h3>@Html.Raw(Model.Intro.CleanParagraphTags())</h3>

                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-pt relative pb-15">
    <div class="container">
        <div class="flex items-center gap-y-5 sm:gap-y-0 justify-between flex-col-reverse sm:flex-row text-secondary-wrapper">
            <div class="mx-w-full sm:max-w-[50%] lg:max-w-[45%]">
                @Html.Raw(Model.LHSIntro)
            </div>
            <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%] relative">
                <div
                    class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in bt_bb_shape_hexagon_reverse_right">
                    <div class="bt_bb_image_content">
                        <img src="@Model.RHSImage" alt="@Model.RHSImageAlt" title="@Model.RHSImageAlt">
                    </div>
                </div>
                <div class="explore-cop-vector floating-icon">
                    <img src="/Assets/images/dranitaborges/shape-vector.svg" class="object-cover dark-grayscaleinvert"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>