@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.AcademyResearchModel
@{
    ViewData["Title"] = "Partners Collaborators";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />


    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/publicationsresources-style.css" />
}



<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="@Model.Content.Masthead_image_Alt_text" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">


        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">
                        @Html.Raw(Model.Content.BreadcrumPath)
                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[35vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading ">
                            @Html.Raw(
                            string.IsNullOrWhiteSpace(Model.Content.Cont_hmpg_intro)
                            ? Model.Content.ContTitle
                            : Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-pt intro-hexagon-section relative">
    <div class="container">
        <div class="intro-hexagon-inner">
            <div class="flex justify-start items-center gap-8 sm:gap-15 lg:gap-25 flex-col sm:flex-row">
                <div class="hexagon-img-wrapper shrink-0 mx-w-full sm:max-w-[50%] lg:max-w-[55%]">
                    <div
                        class="bt_bb_image bt_bb_shape_hexagon_reverse bt_bb_shape_hexagon_reverse bt_bb_hover_style_zoom-in">
                        <div class="bt_bb_image_content">
                            <img src="@Model.Content.Hmpg_thumbnail" alt="@Model.Content.Hmpg_thumbnail_alt_text">
                        </div>
                    </div>
                </div>

                <div class="sm:max-w-[50%] lg:max-w-[40%] 2xl:max-w-[40%] space-y-2 dark-textwhite">
                    <p> @Html.Raw(Model.Content.Cont_intro.CleanParagraphTags())</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing recentpublications-section relative">
    <div class="container">
        <div class="wrapper-title-outer wrapper-title-outer-center">
            <div class="wrapper-title title-heading-outer title-heading-outer-center pb-5 sm:pb-10">
                <h2 class="text-h2 title-heading-anim">
                    @Html.Raw(Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                </h2>
            </div>
        </div>

        <div class="cards-section py-10 px-4 md:px-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 reveal-group" id="RecentPublications">

                <!-- 01 -->

                @foreach (var item in Model.RecentPublicationsList)
                {
                    <div
                        class="relative bg-white rounded-xl shadow-sm p-4 sm:p-6 border border-gray-200 overflow-hidden reveal-item">
                        <a href="@item.Url" target="_blank">
                            <h3 class="text-20  py-10  ">
                                @item.Title
                            </h3>
                        </a>
                        <!-- Divider -->
                        <div class="border-t border-gray-200 mb-3"></div>

                        <p class=" relative  z-10">
                            @Html.Raw(item.Intro.CleanParagraphTags()) </p>

                        <p class="text-muted  relative  z-10">
                            @Html.Raw(item.Content.CleanParagraphTags())
                        </p>
                        @* <span class="absolute bottom-3 right-4 text-[120px] text-gray-100 z-0">@item.Sequence</span> *@
                    </div>
                }


            </div>

            @if (@Model.TotalCount > 10)
            {
                <div class="flex justify-center text-center mt-10">
                    <a id="btnLoadmore" href="#" class="themeht-btn color-btn">
                        View more
                    </a>
                </div>
            }



        </div>
    </div>
</section>


<input type="hidden" id="CurrentPage" value="1" />
<input type="hidden" id="PageSize" value="10" />
<input type="hidden" id="TotalCount" value="@Model.TotalCount" />
<input type="hidden" id="ContentId" value="@Model.Content.ContId" />



@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/Assets/js/publicationsresources-script.js"></script>
    <script src="~/scripts/AcademyResearch/PublicationsResources.js"></script>
}