@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.UpdatesModel
@{
    ViewData["Title"] = "Updates";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />


    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.oncopath.org/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Centre for Oncopathology" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Centre for Oncopathology" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.oncopath.org/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/innerbanner-style.css" />
    <link rel="stylesheet" href="~/Assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Assets/css/swiper-custom.css" />
    <link rel="stylesheet" href="~/Assets/css/media-style.css" />
}




<section class="banner-inner-section mt-[99px] lg:mt-[153px] h-full relative">
    <picture class="bannerinner-picture relative block w-full h-full">
        <source media="(min-width:992px)" srcset="@Model.Content.MastheadImage" />
        <source media="(max-width:991px)" srcset="@Model.Content.MobileMastheadImage" />
        <img alt="@Model.Content.Masthead_image_Alt_text" class="object-cover" src="@Model.Content.MastheadImage" />
    </picture>
    <div class="banner-inner-outer relative w-full h-full">


        <div class="inner-banner-vector">
            <img src="/Assets/images/inner-banner-vector.svg" alt="" class="banner-vector-img" />
            <div class="banner-mask">
                <img src="/Assets/images/abstract-elements-banner.webp" class="masked-img" />
            </div>
            <div
                class="absolute top-[15%] md:top-[30%] left-0 w-full px-0 md:px-8 xl:px-6 2xl:px-8 inner-banner-caption">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumb_container pb-2 lg:pb-0 mb-2">
                        @Html.Raw(Model.Content.BreadcrumPath)
                    </nav>
                    <div class="w-full sm:max-w-[60vw] lg:max-w-[35vw] innerbanner-title-outer">
                        <h1 class="text-h1 innerbanner-title-heading ">
                            @Html.Raw(
                            string.IsNullOrWhiteSpace(Model.Content.Cont_hmpg_intro)
                            ? Model.Content.ContTitle
                            : Model.Content.Cont_hmpg_intro.CleanParagraphTags())
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="section-spacing blogs-section relative ">

    <div class="container">

        <!-- MAIN WRAPPER -->
        <div class="flex flex-col lg:flex-row lg:gap-15 blogs-wrapper">

            <!-- LEFT CONTENT -->
            <div class="w-full lg:w-[68%] blogs-content-left">

                <!-- DATE -->

                @if (Model.Content?.cont_displaydate.HasValue == true)
                {
                    <div class="date-format-style">
                        <p>@Model.Content.cont_displaydate?.ToString("dd MMMM, yyyy")</p>
                    </div>
                }



                <!-- NAME -->
                <div class="heading-style">
                    <h3> @Model.Content.ContTitle</h3>
                </div>

                <!-- DESIGNATION -->
                @if (!string.IsNullOrWhiteSpace(Model.Content?.Cont_intro))
                {
                    <p>
                        @Html.Raw(Model.Content.Cont_intro.CleanParagraphTags())
                    </p>
                }

                <!-- CONTENT -->
                <div class="text-muted">

                    @Html.Raw(Model.Content.Content)


                </div>



                <div class="blog-slider relative custom-arrow-slider mt-5">
                    <div class="swiper blogmSwiper">
                        <div class="swiper-wrapper">

                            @foreach (var item in Model.MediaSlider_List.OrderBy(x => x.Sequence))
                            {
                                <div class="swiper-slide">
                                    <div class="relative">
                                        <div class="blog-img-wrap  overflow-hidden relative">
                                            <img src="@item.ThumbnailImage"
                                                class=" w-full rounded-tl-lg rounded-tr-lg  object-cover block transition-transform duration-700 ease-out will-change-transform group-hover:scale-105"
                                                alt="@item.ThumbnailAltText">
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(item.Intro))
                                        {
                                            <div class="blog-caption text-start flex flex-col gap-y-2 pt-4">
                                                <p>@Html.Raw(item.Intro.CleanParagraphTags())</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- Arrows -->
                    <div class="swiper-button-prev custom-arrow">
                        <img src="/Assets/images/common-images/left-arrow-swiper.svg" alt="prev">
                    </div>
                    <div class="swiper-button-next custom-arrow">
                        <img src="/Assets/images/common-images/right-arrow-swiper.svg" alt="next">
                    </div>

                </div>

            </div>

            <!-- RIGHT SIDEBAR -->
            <div class="w-full lg:w-[32%]  right-blogs-section ">

                <div class="sticky-wrapper ">

                    <div class="flex flex-col gap-6 right-blogs-inner">

                        @foreach (var item in Model.Related_Media_Article_List.Select((value, index) => new
                        {
                            value,
                            index
                        }))
                        {
                            <a href="@item.value.Url" target="@item.value.Url_target" class="flex gap-4 items-center">

                                <img src="@item.value.Thumbnail_img" alt="@item.value.Thumbnail_img_alt_text"
                                    class="rounded-xl object-cover shrink-0">

                                <p>
                                    @item.value.ContTitle
                                </p>
                            </a>

                            @if (item.index < Model.Related_Media_Article_List.Count - 1)
                            {
                                <hr class="border-0 border-t border-[#E5E5E5]">
                            }
                        }






                    </div>

                </div>


            </div>

        </div>

    </div>

</section>






@section Scripts {
    <script src="~/Assets/js/innerbanner-script.js"></script>
    <script src="~/Assets/js/reveal-animation.js"></script>
    <script src="~/Assets/js/gsap.min.js"></script>
    <script src="~/Assets/js/ScrollTrigger.min.js"></script>
    <script src="~/Assets/js/right-sidebar-script.js"></script>
    <script src="~/Assets/js/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/blog-inside.js"></script>
}